[submodule "luassert"]
	path = luassert
	url = ../lua-luassert/
[submodule "say"]
	path = say
	url = ../lua-say/
[submodule "mediator"]
	path = mediator
	url = ../lua-mediator/
[submodule "cliargs"]
	path = cliargs
	url = ../lua-cliargs/
[submodule "ansicolors"]
	path = ansicolors
	url = ../lua-ansicolors/
